<div class="page-content p-5" id="content">
  
  <h1 bg-dark text-white>Clinics</h1>

  <table class="table bg-secondary">
    <thead>
    <tr>
      <th scope="col">Clinic ID</th>
      <th scope="col">Clinic Name</th>
      <th scope="col">Total Bed</th>
      <th scope="col">Total Staff</th>
      <th scope="col">Superintendent (Name)</th>
      <th scope="col">Superintendent (Contact)</th>
      <th scope="col">Active Case</th>
      <th scope="col">Recovered Case</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <h4>Thimphu</h4>
      <tr *ngFor="let clinic of this.ThimphuClinic">
        <td *ngFor="let col of index">
            {{clinic[col]}}
        </td>
        <td>
            <button class="btn-primary" (click)="deleteClinic(clinic.id)">Delete</button>
        </td>
    </tr>
    <hr>
    <h4>Paro</h4>
    <tr *ngFor="let clinic of this.ParoClinic">
        <td *ngFor="let col of index">
            {{clinic[col]}}
        </td>
        <td>
          <button class="btn-primary" (click)="deleteClinic(clinic.id)">Delete</button>
      </td>
    </tr>
    <h4>GelephuClinic</h4>
    <tr *ngFor="let clinic of this.GelephuClinic">
      <td *ngFor="let col of index">
          {{clinic[col]}}
      </td>
      <td>
          <button class="btn-primary" (click)="deleteUser(clinic.id)">Delete</button>
      </td>
  </tr>
  <h4>Phuntsholing</h4>
  <tr *ngFor="let clinic of this.PhuntsholingClinic">
    <td *ngFor="let col of index">
        {{clinic[col]}}
    </td>
    <td>
        <button class="btn-primary" (click)="deleteClinic(clinic.id)">Delete</button>
    </td>
  </tr>
  <h4>S/Jongkhar</h4>
  <tr *ngFor="let clinic of this.SJongkharClinic">
    <td *ngFor="let col of index">
        {{clinic[col]}}
    </td>
    <td>
        <button class="btn-primary" (click)="deleteClinic(clinic.id)">Delete</button>
    </td>
  </tr>
    <!-- <tr *ngFor="let user of this.RecoveredUser">
      <td>{{user.id}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.age}}</td>
      <td>{{user.daysSinceInfected}}</td>
      <td>{{user.status}}</td>
      <td>{{user.locationInfected}}</td>
      <td>
        <button class="btn-primary" (click)="approve(user)">Approve</button>
      </td>
    </tr> -->
    </tbody>
  </table>

  
</div>
<app-admin></app-admin>